@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

p{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*{
  box-sizing: border-box;
}

body{
  background-color: #ebf7f7;
}

/* ----------------------------- */
/* ACCUEIL
/* ----------------------------- */

.content{
  /*max-width: 500px;
  margin: 0 auto;*/
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.content h1{
  font-size: 300%;
}

.content h2, .content h1{
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  text-shadow: 0px 0px 5px #000;
}

.buttons{
  display: flex;
  justify-content: center;
  padding: 300px;
  background: url("../images/paysage_bleu.webp");
  background-size: cover;
}

.btn{
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color: #ebf7f7;
  font-size: 135%;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover{
  color: #9bb3b3;
}

/* ----------------------------- */
/* SLIDE
/* ----------------------------- */

@media screen and (min-width: 768px){

  .splide__slide img {
    width: 100%;
    height: auto;
  }

  .mobile_image{
    opacity: 0;
    position: absolute;
    top: -200px;
  }

}

/* ----------------------------- */
/* MENU
/* ----------------------------- */

.menu{
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ebf7f7;

}

.btn_menu{
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 90%;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.btn_menu:hover{
  color: #9bb3b3;
}

/* ----------------------------- */
/* PEINTURES & PHOTOGRAPHIES
/* ----------------------------- */

.titre{
  font-family: 'Oswald', sans-serif;
  font-size: 350%;
  padding-top: 3vw;
  padding-left: 2vw;
}

.text{
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-family: 'Raleway', sans-serif;
} 

.carousel p{
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  padding-top: 1em;
}

.container{
  margin: 0.8vw;
  top: 10%;
  cursor: pointer;
}

.page{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1vw;
  align-content: center;
}

.peintures{
  width: 31vw;
}

.carousel{
  padding: 2vw;
}

.carousel img{
  max-width: 50vw;
}

.carousel div{
  margin-bottom: 2em;
}

.text-template, .titre-template{
  font-family: 'Raleway', sans-serif;
  padding: 3vw;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-bottom: 0vw;
}


.titre-template{
  padding-top: 6vw;
  font-size: 2rem;
}

.retour{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 2.5em;
  margin-top: 2em;
  padding: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.retour:hover{
  color: #9bb3b3;
}


.titre-template, .text-template, .carousel, .titre{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ----------------------------- */
/* MODAL IMAGE
/* ----------------------------- */

/* Style the Image Used to Trigger the Modal */
#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-height: 90%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  /*font-weight: bold;*/
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* ----------------------------- */
/* A PROPOS
/* ----------------------------- */

.a_propos p{
  width: 60%;
  font-size: 110%;
  line-height: 100%;
  margin-top: 30px;
  margin-left: 10%;
  font-family: 'Raleway', sans-serif;
}

.titre_a_propos{
  margin-top: 8vw;
  margin-left: 10%;
  font-family: 'Raleway', sans-serif;
}

.a_propos{
  display: flex;
}

.portrait{
  margin-top: 8vw;
  width: 45vw;
  height: 100%; 
}

/* ----------------------------- */
/* FOOTER
/* ----------------------------- */

footer{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
}

footer a{
  color: #000;
  text-decoration: none;
}

svg{
  height: 12px;
}

li{
  margin: 12px;
}

footer p{
  padding: 12px;
  font-size: 70%;
}

.footer_links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul{
  list-style: none;
}

/* ----------------------------- */
/* COMPUTER/BIG SCREENS
/* ----------------------------- */

/* ----------------------------- */
/* RESPONSIVE MOBILE
/* ----------------------------- */

@media screen and (max-width: 768px){


  .content h1{
    font-size: 200%;
    margin: 0;
  }

  .content h2{
    font-size: 150%;
    margin: 0.5em;
  }

  .computer_image{
    opacity: 0;
    position: absolute;
    top: -200px;
  }

  .mobile_image{
    height: 100vh;
    width: auto;
    opacity: 1;
  }

  .btn{
    vertical-align: baseline;
    margin: 15px;
    font-size: 100%;
    padding: 0;
  }

  .buttons{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    height: 60vh;
  }

  .titre{
    font-size: 200%;
  }

  .titre{
    padding-top: 10vw;
  }

  .titre-template{
    padding-top: 14vw;
    font-size: 100%;
    padding-left: 0vw;
    padding-right: 0vw;
  }

  .a_propos p{
    width: 80%;
    font-size: 90%;
    line-height: 100%;
    margin-top: 20px;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;
    }

  .titre_a_propos{
    margin-top: 8vw;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;
  }

  .a_propos{
    display: flex;
    flex-wrap: wrap;
  }

  .portrait{
    width: 100vw;
  }

  .text{
    font-size: 80%;
  }

  .btn_menu{
    margin: 5px;
    font-size: 65%;
    padding: 7px 15px;
  }

  .menu{
    width: 100vw;
  }

  p{
    line-height: 100%;
    font-size: 100%;
  }

  .modal-content{
    width: 100%;
  }

  .peintures{
    width: 90vw;
  }

  .carousel img{
    max-width: 85vw;
  }

  .carousel p{
    font-size: 70%;
    max-width: 85vw;
  }

  .page{
    grid-template-columns: 1fr;
    margin: 0.5vw auto;
    max-width: 90vw;  
    padding: 0vw;
  }

  .retour{
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 4vw;
    margin: 0vw;
    font-size: 70%;
    background-color: rgba(235, 247, 247, 0.7); 
    border-radius: 7px;
  }

  footer{
    font-size: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  svg{
    height: 10px;
  }

  li{
    margin: 5px;
  }

  ul{
    padding: 0vw;
  }

  footer p{
    font-size: 70%;
  }
}



